/*--------------------------
    Video Carousel Styling
--------------------------*/

.carousel#video-carousel .carousel-indicators {
  bottom: 0;
}
.carousel#video-carousel .carousel-indicators li {
  margin: 0 2px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-color: #3f5588;
  border-width: 3px;
}
.carousel#video-carousel .carousel-indicators li.active {
  background: #3f5588;
}
.carousel#video-carousel .carousel-control {
  font-size: 52px;
  background: transparent;
  text-shadow: none;
  color: #000;
  opacity: 1;
}
.carousel#video-carousel .carousel-control:hover, .carousel .carousel-control:focus, .carousel .carousel-control:active {
  color: #333333;
}
.carousel#video-carousel {
  padding-bottom: 50px;
}
.carousel#video-carousel .carousel-inner {
  background-color: #f3f3f3;
}
.carousel#video-carousel .carousel-control {
  color: rgba(0, 0, 0, 0.6);
  width: auto;
  line-height: 400px;
}
.carousel#video-carousel .carousel-control.left {
  margin-left: -200px;
}
.carousel#video-carousel .carousel-control.right {
  margin-right: -200px;
}
.carousel#video-carousel .carousel-control:hover, .carousel#video-carousel .carousel-control:focus, .carousel#video-carousel .carousel-control:active {
  color: rgba(0, 0, 0, 0.9);
}


/*--------------------------
 Video Background Styling
--------------------------*/

/* .TPvideo-background */
.TPvideo-background {
  display: block;
  height: 56.25vw;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

/* .TPvideo-overlay */
.TPvideo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  pointer-events: none;
}

.TPvideo-overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s linear;
}

.TPvideo-overlay::after {
  background: rgba(0,0,0,.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* .TPvideo-overlay-image */
.TPvideo-overlay-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s linear;
}

.TPvideo-overlay-fadeOut {
  opacity: 0;
  visibility: hidden;
}

/* .TPvideo-overlay-text */
.TPvideo-overlay-text {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(0) translateY(-50%);
}
@media (min-width: 1066.6666666667px) {
  .TPvideo-overlay-text {
    /*height: 600px;*/
  }
}
.TPvideo-overlay-text h1 {
  color: #ffffff;
}

/* .TPvideo-container */
.TPvideo-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  transform: translateY(28.125vw);
  pointer-events: none;
}
@media (min-width: 1066.6666666667px) {
  .TPvideo-container {
    transform: translateY(300px);
  }
}

/* iframe */
.TPvideo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-28.125vw);
}


